<div class="container">
    <h1>Player's choice</h1>
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Rock</button>
            <button type="button" class="btn btn-secondary">Paper</button>
            <button type="button" class="btn btn-secondary">Scissor</button>
        </div>
        <div class="form-control">
            <button class="btn btn-primary"></button>
        </div>                
    </div>
</div>